 /* encabezado centrado */
 .contenedor {
    max-width: 1500px;
    margin: 0 auto;
  }
  .centrado {
    text-align: center;
  }

  .encabezado {
    font-weight: 900;
  }

  /* cursos */
  .cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
  }
  .cursos .curso {
    flex: 0 1 calc(50% - 10px);
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .cursos .curso .imagen-curso {
    width: 100%;
    display: block;
  }
  .cursos .curso .imagen-curso img {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    .cursos .curso {
      flex: 0 1 calc(33% - 10px);
    }
  }
  @media screen and (min-width: 1024px) {
    .cursos .curso {
      flex: 0 1 calc(25% - 10px);
    }
  }
  .cursos .info-curso {
    padding: 1rem;
    text-align: center;
  }
  .cursos .info-curso h4 {
    margin: 0;
    font-size: 1.2rem;
  }
  .cursos .info-curso .boton {
    background-color: #741d51;
    color: #ffffff;
    border: 0;
    border-radius: 1rem;
    display: block;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  .cursos .info-curso .boton:hover {
    background-color: #220918;
  }
  /* .curso .info-curso .boton:active .boton{
     background-color: white;
     color:#741d51;
     border: 2px solid #741d51;
  } */

  .curso__imagen{
    border-radius: 50%;
    width: 10rem;
    overflow: hidden;
    margin-top: 10px;
  }

  /* tab */
  .tab-content{
    background-color: rgb(235, 85, 85);
  }

  /* .nav-tabs .nav-link.active{
    color: rgb(235, 85, 85);
  } */

  .nav-tabs .nav-link {
    color: rgb(142, 2, 2);
  }
  
  /* .nav-tabs .nav-link.active {
    color: rgb(235, 85, 85);
  } */

  /* tab content */
/* #exTab1 .tab-content {
    color : white;
    background-color: #EF476F;
  }
  
  #exTab1 .tab-pane {
     padding : 5px 15px;
  } */
  