 /* encabezado centrado */
 .contenedor {
    max-width: 1500px;
    margin: 0 auto;
  }
  .centrado {
    text-align: center;
  }

  .encabezado {
    font-weight: 900;
  }

  /* cursos */
  .cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
  }
  .cursos .curso {
    flex: 0 1 calc(50% - 10px);
    border: 1px solid darkgray;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
  }
  .curso:hover{
    transform: scale(1.05);
    background-color: #fac8cc;
  }
  .cursos .curso .imagen-curso {
    width: 100%;
    display: block;
  }
  .cursos .curso .imagen-curso img {
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    .cursos .curso {
      flex: 0 1 calc(33% - 10px);
    }
  }
  @media screen and (min-width: 1024px) {
    .cursos .curso {
      flex: 0 1 calc(25% - 10px);
    }
  }
  .cursos .info-curso {
    padding: 1rem;
    text-align: center;
  }
  .cursos .info-curso h4 {
    margin: 0;
    font-size: 1.2rem;
  }
  .cursos .info-curso .boton {
    background-color: #ad000c;
    color: #ffffff;
    border: 0;
    border-radius: 1rem;
    display: block;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  .cursos .info-curso .boton:hover {
    background-color: #220918;
  }
  /* .curso .info-curso .boton:active .boton{
     background-color: white;
     color:#741d51;
     border: 2px solid #741d51;
  } */

  .iconodadomg{
    color: #ad000c;
  }
  
  
  .cursos .info-curso .botondadomg{
    background-color: white;
    border:1px solid #ad000c;
  }


  .curso__imagen{
    border-radius: 50%;
    width: 10rem;
    overflow: hidden;
    margin-top: 10px;
  }
  .usuario__imagen{
    border-radius: 50%;
    width: 2rem;
    overflow: hidden;
    margin: 10px;
  }

  /* tab */
  /* .tab-content{ */
    /* background: linear-gradient(90deg, rgba(255,1,62,0.8016456582633054) 0%, rgba(255,119,0,0.7988445378151261) 89%, rgba(255,205,0,0.8044467787114846) 100%); */
  
  /* } */

  /* .nav-tabs .nav-link.active{
    color: rgb(235, 85, 85);
  } */

  .nav-tabs .nav-link {
    color: rgb(142, 2, 2);
  }
  
  /* .nav-tabs .nav-link.active {
    color: rgb(235, 85, 85);
  } */

  /* tab content */
/* #exTab1 .tab-content {
    color : white;
    background-color: #EF476F;
  }
  
  #exTab1 .tab-pane {
     padding : 5px 15px;
  } */
  

  /* perfil */

  .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* perfil imagen */

.columna1 {
  width: 450px;
  background-color: #efefef;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.image img {
  transition: all 0.5s
}

.columna1:hover .image img {
  transform: scale(1.5)
}

/* .divImg{
  width: 30%;
} */

#color{
  color: #220918;
}



/* -----------------BOTON COLOR/OSCURO---------------- */

/* * {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
} */
body.dark {
  background-color: #292c35;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 50px;
  height: 26px;
  background-color:#080808;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

/* .botonclarooscuro.dark{
  background-color:#ffffff;
} */

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.bi-moon{
  color: pink;
}

.bi-sun-fill{
  color: yellow;
}
