
@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {margin: 0; padding: 0;}

#msform {
	width: 500px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 70%;
	margin: 0 18%;
	position: relative;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform .datos, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	counter-reset: step;
	display: inline-block;
	width: 100%;
	display: flex;
	justify-content: center;
}
#progressbar li {
	list-style-type: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; 
}
#progressbar li:first-child:after {

	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-check-input{
	width: 10%;
}

/* -----------------BOTON COLOR/OSCURO---------------- */

/* * {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
} */
body.dark {
	background-color: #292c35;
  }
  .checkbox {
	opacity: 0;
	position: absolute;
  }
  
  .label {
	width: 50px;
	height: 26px;
	background-color:#080808;
	display: flex;
	border-radius:50px;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	transform: scale(1.5);
  }
  
  /* .botonclarooscuro.dark{
	background-color:#ffffff;
  } */
  
  .ball {
	width: 20px;
	height: 20px;
	background-color: white;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
	transform: translateX(24px);
  }
  
  .bi-moon{
	color: pink;
  }
  
  .bi-sun-fill{
	color: yellow;
  }



  
	/* @media screen and (min-width: 500px){
		.navbar{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	} */
  