

.display-1 {
  font-family: 'Lexend', sans-serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.5rem;
}

.display-4 {
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}

.display-7 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}

@media (max-width: 992px) {
  .display-1 {
    font-size: 3.52rem;
  }
}

/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 26px;
}

.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 26px;
}

.btn-primary {
  background-color: #a148ff !important;
  background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
  border: none;
  transition: all 0.3s;
}
.btn-primary:hover {
  transform: translateY(-3px);
}
a{
  text-decoration: none;
}
a,a:hover {
  color: #a148ff;
}
.cid {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.cid .mbr-overlay {
  backdrop-filter: blur(3.5px);
}
.cid img {
  transform: scale(2) translateX(-2rem);
  z-index: 0;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid img {
    transform: scale(1) translateX(0);
  }
}
.cid .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 6rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  
  .cid .card-wrapper {
    padding: 2rem 1rem;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
}
.cid .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;

}
@media (max-width: 992px) {
  .cid .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid .col-12 {
  position: relative;
}

.cid .mbr-section-title {
  color: #263d5a;
}
.cid .mbr-text,
.cid .mbr-section-btn {
  color: #263d5a;
}
.cid .mbr-section-subtitle {
  color: #263d5a;
}
    .cid .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 6rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 992px){
.cid img {
    transform: scale(1) translateX(0);
}
.cid img {
    transform: scale(2) translateX(-2rem);
    z-index: 0;
    border-radius: 30px;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
    .card-wrapper,
.item-wrapper {
  overflow: hidden;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}
}

.contacta{
  font-size: 15px;
}